# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore the contents of these subfolders, but keep the folders themselves
/src/generated/extractedData/**
!/src/generated/extractedData/.gitkeep

/src/generated/html/**
!/src/generated/html/.gitkeep

/src/generated/scripts/**
!/src/generated/scripts/.gitkeep

# Ignore log files
*.log

# Ignore DS_Store files (macOS)
.DS_Store

# Ignore any output files
/output/

# Ignore MongoDB related data (if stored locally)
*.lock
dump/
