# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore  script generated content
/src/generated/extractedData/
/src/generated/html/
/src/generated/scripts/

# Ignore log files
*.log

# Ignore DS_Store files (macOS)
.DS_Store

# Ignore any output files
/output/

# Ignore MongoDB related data (if stored locally)
*.lock
dump/
